// *************************************
//
// Content
// -> All content
//
// *************************************
	
.Content--withSidebar {
	@include span-columns(7);
}

.Content-entry {
	margin-top: 35px;
	
	p {
		font-size: 15px;	
	}


	.HomepageTitle p {
		font-size: 23px;
	}
	
	.homepage-textimg {
		float: right;
		width: 240px;
		margin-top: 20px;
		margin-right: 5%;
		border-radius: 10px;
	}
	
	.homepage-text-left {
		//width: 45%;
	//	float: left;
	}
}


//----------------------------------------
// ------------ form styles --------------

label.gfield_label {
	font-weight: 300 !important;
}

input.gform_button {
	background-color: #fafafa;
	border-radius: 10px;
	border: 1px solid $c-blue;
	padding: 5px 10px;
	color: $c-blue;
	
	&:hover {
		color: white;
		background-color: $c-blue;
		
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
}

.ginput_container {		
	input, textarea {
		background-color: #fafafa;
		border-radius: 7px;
		border: 1px solid $c-blue;
		color: $c-blue;
		font-size: 14px !important;
	}
}
//----------------------------------------



#map_canvas, #map_canvas2 {
	border: 1px solid $c-blue;
	width: 100%;
	height: 170px;
	border-radius: 10px;
	margin: 10px 0;
}

.adress {
	margin-top: 10px;
	padding-left: 10px;
}


.aangifte-checklist {
	display: inline-block;
	border: 1px solid $c-blue;
	color: $c-blue;
	background-color: #fafafa;
	padding: 5px 10px;	
	border-radius: 10px;
	margin-top: 15px;

	
	&:hover {
		background-color: $c-blue;
		color: white;
		text-decoration: none;
		
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
}

.aangifte-checklist.twee {
	margin-top: 5px;
}

.app-text {

}

.app-iphone {
	width: 300px;
	float: left;
}
.app-google {
	margin-top: 40px;
	
}

//======================================================
//                   @media queries
//======================================================

@media all and (max-width: 980px) {
	.Content-entry {
		.homepage-text-left {
			width: auto;
			float: none;
		}
		.homepage-textimg {
			float: none;
			display: block;
			margin: 0 auto 20px;
		}
	}
}

@media all and (max-width: 810px) {
	.Content--withSidebar {
		@include span-columns(12);
	}
}


@media all and (max-width: 620px) {
	.adress.u-gridCol4 {
		@include span-columns(12);
	}
	.adress-map.u-gridCol8 {
		@include span-columns(12);
	}

	.adress-info p {
		text-align: center;
	}

	.page-id-18 {
		h2 {
			text-align: center;
		}
	}
}


.page-id-249 {
	h2 {
		line-height: 0;
		padding: 25px 0 15px;
	}
}